<div class="container" style="display: flex;justify-content: center;">
  <div class="haut" style="display: flex; align-items: center; margin-top: 3rem;">
    <div>
      <% if user_signed_in? %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large" %>
      <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <% end %>
    </div>
    <button type="button" data-bs-toggle="modal" data-bs-target="#nom" style="border: none; display: flex;align-items: center;">
      <div class="fullname">
        <p style="margin-bottom: 0;"> <%= @user.prenom %> </p>
        <p style="margin-bottom: 0;"> <%= @user.nom %> </p>
      </div>
        <i class="fa-solid fa-pen-to-square"></i>
    </button>
  </div>
</div>
<div class="container" style="display: flex; justify-content: center;">
  <div class="infos" style="width: 100%;">
    <button type="button" data-bs-toggle="modal" data-bs-target="#infos" style="border-radius: 10px; margin-top: 1rem; margin-bottom: 1rem;width: 100%;">
      <strong>Mes infos:</strong>
      <p><%= @user.infos %></p>
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
  </div>
</div>
<div class="container" style="display: grid; grid-template-columns: 50% 50%;" >
  <button>Info</button>
  <button>Archive</button>
  <button>Books</button>
  <button>Size</button>
</div>
<div class="container" style="display: flex;justify-content: center;position: absolute; bottom: 2rem;">
  <%= link_to candidat_path do %>
    <i class="fa-solid fa-clapperboard" style="font-size: 50px; color: black"></i>
  <% end %>
</div>

<div class="modal fade" id="nom" tabindex="-1" aria-labelledby="bioLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="container">
        <h2>Edit </h2>
        <%= simple_form_for(profile_path, data: {turbo_method: 'post'}) do |f| %>
          <div class="form-inputs">
            <%= f.input :nom,
                        required: true,
                        autofocus: true,
                        label: false,
                        placeholder: "Nom",
                        input_html: { autocomplete: "nom" } %>
            <%= f.input :prenom,
                        required: true,
                        autofocus: true,
                        label: false,
                        placeholder: "Prenom",
                        input_html: { autocomplete: "prenom" } %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Update", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="infos" tabindex="-1" aria-labelledby="bioLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="container">
        <h2>Edit </h2>
        <%= simple_form_for(profile_path, data: {turbo_method: 'post'}) do |f| %>
          <div class="form-inputs">
            <%= f.input :infos,
                        required: true,
                        autofocus: true,
                        label: false,
                        placeholder: "Tes infos",
                        input_html: { autocomplete: "infos" } %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Update", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
