<div class="main">
  <div class="head">
    <%= link_to 'javascript:history.back()', style: "position: fixed;top: 10px;right: 10px;" do %>
      <i class="fa-solid fa-circle-xmark" style="font-size: 30px; color: rgb(252, 5, 5)"></i>
    <% end %>
    <%#= link_to 'javascript:history.back()', style: "position: fixed;top: 10px;left: 10px;" do %>
      <!-- <i class="fa-solid fa-heart-circle-plus" style="font-size: 30px; color: rgb(5, 252, 5)"></i> -->
    <%# end %>
    <% if @profile.photo.attached? %>
      <%= cl_image_tag @profile.photo.key, crop: :thumb, gravity: :face,   class: "profile-photo",
                                        width: '0.50' %>
    <% else %>
      <% if @profile.sexe == 'Homme' %>
        <img src="https://img.icons8.com/officel/344/circled-user-male-skin-type-6.png" class="profile-photo" />
      <% else %>
      <img src="https://img.icons8.com/officel/344/circled-user-female-skin-type-6.png" class="profile-photo" />
      <% end %>
    <% end %>
  </div>
  <div class="container" style="display: flex;flex-direction: column;align-items: center;">
    <br>
    <h2><%= @profile.prenom %> <%= @profile.nom %></h2>
    <small style="font-size: 12px;"><i class="fa-solid fa-cake-candles"></i><% if @profile.date_de_naissance? %> <%= @profile.date_de_naissance.strftime("%m/%d/%Y") %> <% end %> - <%= @profile.departement %> <i class="fa-solid fa-location-dot"></i></small>
    <br>
    <% if @profile.infos? %>
      <p style="text-align:center;"><%= @profile.infos %></p>
    <% else %>
      <p style="text-align: center;">Aucune informations disponible</p>
    <% end %>

    <br><br>
  </div>
  <div class="container" style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
    <% if @profile.books.exists? == true %>
      <strong>Books</strong>
      <div class="container" style="display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;align-items: center;justify-items: center;">
        <% @profile.books.each do |b| %>
          <div class="card-book" style="display: flex;width: 96%;flex-direction: column;align-items: center;border-radius: 10px;margin: 4px;justify-content: center;">
            <%= link_to book_path(b) do %>
              <i class="fa-solid fa-image" style="font-size: 50px; color: black"></i>
              <% end %>
                <small><%= b.titre.truncate(12).capitalize %></small>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="container" style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
        <h3>Aucun Books enregistrer</h3>
      </div>
    <% end %>
  <button type="button" data-bs-toggle="modal" data-bs-target="#infos" style="border-radius: 10px; margin-top: 1rem; margin-bottom: 1rem;">
    <strong >Contact</strong>
  </button>
</div>



<!-- Modal -->

<div class="modal fade" id="infos" tabindex="-1" aria-labelledby="bioLabel" aria-hidden="true" style="top: 0px">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: transparent; border: none;">
          <div class="infos" style="width: 100%;">
            <button type="button" data-bs-toggle="modal" data-bs-target="#infos" style="border: none; margin-top: 1rem; margin-bottom: 1rem;width: 100%;">
              <p> <i class="fa-solid fa-phone"></i> : <%= @profile.telephone %></p>
              <p> <i class="fa-solid fa-envelope"></i> : <%= @profile.email %></p>
            </button>
          </div>
    </div>
  </div>
</div>
