<div class="container">
  <h1>Mes infos:</h1>
  <div class="infos" style="width: 100%;">
    <button type="button" data-bs-toggle="modal" data-bs-target="#infos" style="border: none; margin-top: 1rem; margin-bottom: 1rem;width: 100%;">
      <p> <i class="fa-solid fa-cake-candles"></i> : <%= @user.date_de_naissance %></p>
      <p> <i class="fa-solid fa-venus-mars"></i> : <%= @user.sexe %></p>
      <p> <i class="fa-solid fa-map-location-dot"></i> : <%= @user.adresse %></p>
      <p> <i class="fa-solid fa-phone"></i> : <%= @user.telephone %></p>
      <p> <i class="fa-solid fa-envelope"></i> : <%= @user.email %></p>
    </button>
  </div>
</div>


<% if @user.photo.attached? %>
        <img src='https://res.cloudinary.com/hissen/image/upload/v1663670659/development/<%= @user.photo.key %>.jpg',
                                      height="56",
                                      style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))",
                                      class="avatar-large" >
<% else %>
  <img src="https://source.unsplash.com/random?man" style="height: 56px; width: 56px" class="avatar-large"/>
<% end %>

<div class="container" style="display: flex;justify-content: center;position: absolute; bottom: 2rem;">
  <%= link_to post_path do %>
    <i class="fa-solid fa-clapperboard" style="font-size: 50px; color: black"></i>
  <% end %>
</div>
