<script>
  if (window.location.pathname == '/candidatures') {
    body.style = 'height: calc(100vh) !important; background: linear-gradient(to top, #ada996, #f2f2f2, #dbdbdb, #eaeaea);';
  }

  let scrollpos = window.scrollY
  const header = document.querySelector("#body")
  const header_height = header.offsetHeight

  const add_class_on_scroll = () => header.classList.add("fade-in")
  const remove_class_on_scroll = () => header.classList.remove("fade-in")

  window.addEventListener('scroll', function() {
    scrollpos = window.scrollY;

    if (scrollpos <= header_height) { add_class_on_scroll() }
    else { remove_class_on_scroll() }

  })
</script>

<%= render 'shared/navbar' %>

<br><br><br>

<div class="container" style="display: flex;justify-content: center;align-items: center;">
  <div class="container" >
    <% @bookings.each do |b| %>
    <p>Pour le : <%= b.post.date.strftime("%m/%y") %></p>
    <hr>
      <%= link_to post_path(b.post_id) do %>
        <div class="card-candidat" style="margin-bottom: 20px;">
          <% if b.post.photos.attached? %>
            <%= cl_image_tag b.post.photos[0].key, height: 150 , class: 'candidat-photo', crop: :fill %>
          <% else %>
            <%= image_tag "https://images.unsplash.com/random?", height: 150 , class: 'candidat-photo', crop: :fill %>
          <% end %>
          <div class="card-candidat-info">
            <strong id="titre"><%= b.post.titre %></strong><br>
              <% if b.confirmation === false %>
                <div>
                  <span class="badge bg-warning">En attente</span>
                  <%= link_to booking_path(b), id: 'trash', data: { turbo_method: :delete, turbo_confirm: "Êtes vous sûrs?" } do %>
                  <i class="fa-solid fa-circle-xmark" style="font-size: 30px; color: rgb(252, 5, 5)"></i>
                  <% end %>
                </div>
                <% else b.confirmation === true %>
                <span class="badge bg-success">Accepté</span>
              <% end %>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
