<div class="container" style="display: flex;justify-content: center;align-items: center;">
  <h1>Candidature en attente</h1>
  <br><br><br><br><br>
</div>
<div class="container" >
  <% @bookings.each do |b| %>
    <% if b.confirmation == false %>
      <hr>
      <%= link_to profile_path(b.user_id) do %>
        <div class="card-product">
          <% if b.user.photo.attached? %>
            <%= cl_image_tag b.user.photo.key,
                                          height: 100,
                                          class: "card-img-top",
                                          style: "background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))" %>
          <% else %>
            <img src="https://source.unsplash.com/random?profile?food" style="height: 100;" class="card-img-top"/>
          <% end %>
          <div class="">
            <h2 style="display: flex;justify-content: center;align-items: center;"><%= b.user.prenom %> <%= b.user.nom %></h2>
            <small style="display: flex;justify-content: center;align-items: center;">Consulter le profile</small>
            <div class="btn">
              <%= link_to "Decline", booking_path(b), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-secondary' %>
              <%= link_to "Acceptez", post_booking_path(@posts, b), data: { turbo_method: "patch" }, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<%= render 'shared/retourprofile' %>
