<div class="container" id="carrousel" style="height: 72vh;">
  <% @candidats.each do |c| %>
    <%= link_to profile_path(c), class: 'el', style: 'width: 95%;height: 95%;' do %>
      <div class="card-candidats">
        <% if c.photo.attached? %>
            <%= cl_image_tag c.photo.key, height: 250, crop: :scale, effect: "art:quartz", class: 'photo-candidats' %>
        <% else %>
            <img src="https://source.unsplash.com/random?actor" class="photo-candidats"/>
        <% end %>
        <div class="" style="width: 100%;">
          <div class="head">
            <strong><%= c.prenom %> <%= c.nom %></strong><br>
            <small><%= c.infos %></small>
          </div>
          <div class="card-trip-pricing" style="text-align: end;">
            <span><%= c.adresse %></span>
            <i class="fa-solid fa-location-dot"></i>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
