<div class="container">
  <% @candidats.each do |c| %>
    <%= link_to profile_path(c) do %>
      <div class="card-product" style="margin-bottom: 5px;">
        <% if c.photo.attached? %>
            <%= cl_image_tag c.photo.key, height: 200, width: 300, crop: :fill, effect: "art:quartz", class: 'card-product-img' %>
        <% else %>
            <img src="https://source.unsplash.com/random?actor" class="card-product-img"/>
        <% end %>
        <div class="card-product-infos" style="width: 100%;">
          <div>
            <h2><%= c.prenom.truncate(80) %> <%= c.nom %></h2>
            <p><%= c.infos %></p>
          </div>
          <p class="card-trip-pricing" style="text-align: end;">
            <span><%= c.adresse %></span>
            <i class="fa-solid fa-location-dot"></i>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
