<div class="container" data-filtre-target="filtrable">
  <% @posts.each do |p| %>
    <%= link_to post_path(p) do %>
      <div class="card-product" style="margin-bottom: 5px;">
        <% if p.photos.attached? %>
          <% p.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 200, width: 300, crop: :fill, class: 'card-product-img' %>
          <% end %>
        <% else %>
            <img src="https://source.unsplash.com/random?actor" class="card-product-img"/>
        <% end %>
        <div class="card-product-infos">
          <div>
            <h2><%= p.titre %></h2>
            <p><%= p.descriptif.truncate(80) %></p>
          </div>
          <h2 class="card-trip-pricing"><i class="fa-solid fa-location-dot"><%= p.departement || p.ville || p.lieux %></i></h2>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
