<div class="container" id="carrousel" style="position: fixed;height: 72vh;">
  <% @candidats.each do |c| %>
    <%= link_to profile_path(c), class: 'el', style: 'width: 102%;height: 100%;' do %>
      <div class="card-candidats">
        <% if c.photo.attached? %>
            <%= cl_image_tag c.photo.key, height: 400, crop: :fill, effect: "art:quartz", class: 'photo-candidats', style: 'position: absolute;z-index: -1;' %>
        <% else %>
            <img src="https://source.unsplash.com/random?actor" class="photo-candidats"/>
        <% end %>
        <strong id="name-strong"><%= c.prenom %> <%= c.nom %></strong>
        <p id="localisation"> <%= c.adresse %> <i  class="fa-solid fa-location-dot"></i></p>
        <div class="container footer-card">
          <% if c.infos? %>
            <p style="text-align: center;"><%= c.infos.truncate(70) %></p>
          <% else %>
            <p style="text-align: center;">Aucun informations disponible</p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
