<!-- En construction -->

<div class="container">
  <div data-controller="toggle" class="bg-white py-1 shadow" style="cursor: pointer; border-radius: 10px;">
    <div data-action="click->toggle#toggle touch->toggle#toggle" class="d-flex" style="align-items: center; justify-content: space-between;">
      <h3 style="margin-left: 10px;">Filtres</h3>
      <i data-toggle-target="caret" class="fa-solid fa-caret-down" aria-hidden="true" style="margin-right: 10px;"></i>
    </div>
    <div data-toggle-target="toggleable" class="hidden container" >
      <div style="display: flex; flex-wrap: wrap;justify-content: space-evenly;" data-controller="filtre" class="d-none">
        <%= form_with url: posts_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a city or a department"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="container gauche" style="display: flex; flex-direction: column;">
        <a href="/posts?query=Figurant" class="btn btn-primary">Figuration</a>
        <a href="/posts?query=Silouette" class="btn btn-primary">Silouette</a>
        <a href="/posts?query=Doublure" class="btn btn-primary">Doublure</a>
        <a href="/posts?query=Rôle" class="btn btn-primary">Rôle</a>
        <a href="/posts" class="btn btn-secondary">Clear Filtres</a>
      </div>
    </div>
  </div>
  <p style="margin-left: 10px;"><small>Résultas : <%= @posts.count %> / <%= Post.all.count %></small></p>
</div>
