<div class="main">
  <% if user_signed_in? %>
    <% if current_user.role == 'candidat' %>
      <%= link_to "/posts" do %>
      <%= image_tag 'test2.png', style: "width: 100%; height: 100%", class: 'right' %>
        <strong id="candi">Je suis candidats</strong>
      <% end %>
    <% else %>
      <%= link_to "/candidats" do %>
      <%= image_tag 'test.png', style: "width: 100%; height: 100%", class: 'left' %>
        <strong id="recru">Je suis recruteur</strong>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to "/posts" do %>
    <%= image_tag 'test2.png', style: "width: 100%; height: 100%", class: 'right' %>
      <strong id="candi">Je suis candidat</strong>
    <% end %>
    <%= link_to "/candidats" do %>
      <%= image_tag 'test.png', style: "width: 100%; height: 100%", class: 'left' %>
      <strong id="recru">Je suis recruteur</strong>
    <% end %>
  <% end %>
</div>
<border>
