<script>
  if (window.location.pathname == '/') {
    document.querySelector("#body").style = 'height: calc(100vh); background: linear-gradient(to top, #ada996, #f2f2f2, #dbdbdb, #eaeaea);';
  }

  let scrollpos = window.scrollY
  const header = document.querySelector("#body")
  const header_height = header.offsetHeight

  const add_class_on_scroll = () => header.classList.add("fade-in")
  const remove_class_on_scroll = () => header.classList.remove("fade-in")

  window.addEventListener('scroll', function() {
    scrollpos = window.scrollY;

    if (scrollpos <= header_height) { add_class_on_scroll() }
    else { remove_class_on_scroll() }

  })
</script>
<div class="main">
  <% if user_signed_in? %>
    <% if current_user.role == 'candidat' %>
      <%= link_to "/posts" do %>
      <%= image_tag 'test2.png', style: "width: 100%; height: 100%", class: 'right' %>
        <strong id="candi">Je suis candidats</strong>
      <% end %>
    <% else %>
      <%= link_to "/candidats" do %>
      <%= image_tag 'test.png', style: "width: 100%; height: 100%", class: 'left' %>
        <strong id="recru">Je suis recruteur</strong>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to "/posts" do %>
    <%= image_tag 'test2.png', style: "width: 100%; height: 100%", class: 'right' %>
      <strong id="candi">Je suis candidat</strong>
    <% end %>
    <%= link_to "/candidats" do %>
      <%= image_tag 'test.png', style: "width: 100%; height: 100%", class: 'left' %>
      <strong id="recru">Je suis recruteur</strong>
    <% end %>
  <% end %>
</div>
<border>
