<h1>New Books</h1>

<%= simple_form_for @book do |f| %>
          <div class="form-inputs">
            <%= f.input :titre, required: true, placeholder: "Titre" %>
            <%= f.input :photos,
                        as: :file,
                        required: true,
                        autofocus: true,
                        label: false,
                        placeholder: "Photos",
                        input_html: { multiple: true } %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Update", data: { turbo_method: "post" }, class: 'btn btn-primary' %>
          </div>
<% end %>

<%= render 'shared/retour' %>
