<div class="container" style="display: flex;justify-content: center;align-items: center;">
  <h1><%= @book.titre.capitalize %></h1>
  <br><br><br><br><br>
</div>

<div class="container" style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <% @book.photos.each_with_index do |photo, i| %>
        <div class="item <%= i == 0 ? 'active' : 's-none' %> ">
          <hr>
          <%= cl_image_tag photo.key,  width: 350, crop: :lfill %>
          <hr>
        </div>
      <% end %>
    </div>
    <br><br><br>
</div>

</div>
<div class="container" style="display: flex;justify-content: center;position: fixed; bottom: 2rem;">
  <% if current_user.role == 'candidat' %>
    <%= link_to books_path do %>
      <i class="fa-solid fa-clapperboard" style="font-size: 50px; color: black"></i>
    <% end %>
  <% else %>
    <%= link_to profile_path(@book.user) do %>
      <i class="fa-solid fa-clapperboard" style="font-size: 50px; color: black"></i>
    <% end %>
  <% end %>
</div>
