<div class="container" style="display: flex;justify-content: center;align-items: center;">
  <h1>Mes archives</h1>
  <br><br><br><br><br>
</div>

<% if current_user.role == 'candidat' %>
  <div class="container" >
    <% @bookings.each do |b| %>
      <hr>
      <%= link_to post_path(b.post_id) do %>
        <div class="recap">
          <strong><%= b.post.titre %></strong><br>
          <small><%= b.post.descriptif.truncate(50) %></small><br>
          <p>
            <% if b.confirmation === false %>
            <span class="badge bg-warning">En attente</span>
            <% else b.confirmation === true %>
            <span class="badge bg-success">Accepté</span>
            <% end %>
          </span> <%= link_to "Retiré ma candidature", booking_path(b), class: 'badge bg-danger', data: { turbo_method: :delete, turbo_confirm: "Êtes vous sûrs?" } %><br>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="container" >
    <% @posts.each do |p| %>
      <hr>
      <div class="card-product">
      <%= link_to post_path(p), style: 'display: flex;' do %>
          <% if p.photos.attached? %>
            <%= cl_image_tag p.user.photo.key,
                                                height: 100,
                                                class: "card-img-top",
                                                style: "background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))" %>
          <% else %>
            <img src="https://source.unsplash.com/random?profile?food" style="height: 100;" class="card-img-top"/>
          <% end %>
          <div class="">
            <h2><%= p.titre %></h2>
            <small><%= p.descriptif.truncate(50) %></small>
          </div>
          <div class="btn-card">
            <% @bookings.each do |b| %>
              <% if b.confirmation == false %>
                <%= link_to "Decline", booking_path(b), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-secondary' %>
                <%= link_to "Acceptez", post_booking_path(p, b), data: { turbo_method: "patch" }, class: 'btn btn-primary' %>
              <% end %>
            <% end %>
          </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<%= render 'shared/retourprofile' %>
