<div class="container" style="display: flex;justify-content: center;align-items: center;">
  <h1>Mes archives</h1>
  <br><br><br><br><br>
</div>
<div class="container" >
  <% @bookings.each do |b| %>
    <hr>
    <%= link_to post_path(b.post_id) do %>
      <div class="recap">
        <strong><%= b.post.titre %></strong><br>
        <small><%= b.post.descriptif.truncate(50) %></small><br>
          <% if b.confirmation === false %>
            <span class="badge bg-warning">En attente</span>
            </span> <%= link_to "Retiré ma candidature", booking_path(b), class: 'badge bg-danger', data: { turbo_method: :delete, turbo_confirm: "Êtes vous sûrs?" } %><br>
          <% else b.confirmation === true %>
            <span class="badge bg-success">Accepté</span>
          <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'shared/retourprofile' %>
