<div class="container">

  <h1>My Infos</h1>

  <p> Date de naissance : <%= @user.date_de_naissance %></p>
  <p> Sexe : <%= @user.sexe %></p>
  <p> Adresse : <%= @user.adresse %></p>
  <p> Telephone : <%= @user.telephone %></p>
  <p> Email : <%= @user.email %></p>

</div>

<%= render 'shared/retourprofile' %>
