<h1>Waouh !!!</h1>
<div class="container">
  <h1>Mes infos:</h1>
  <div class="infos" style="width: 100%;">
      <p> <i class="fa-solid fa-cake-candles"></i> : <%= @user.date_de_naissance %></p>
      <p> <i class="fa-solid fa-venus-mars"></i> : <%= @user.sexe %></p>
      <p> <i class="fa-solid fa-map-location-dot"></i> : <%= @user.adresse %></p>
      <p> <i class="fa-solid fa-phone"></i> : <%= @user.telephone %></p>
      <p> <i class="fa-solid fa-envelope"></i> : <%= @user.email %></p>
  </div>
</div>
