<!DOCTYPE html>
<html>
  <head>
    <title>Claps Cast</title>
    <link rel="icon" type="image/png" href="https://img.icons8.com/external-bearicons-outline-color-bearicons/344/external-Video-audio-and-video-bearicons-outline-color-bearicons.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body id="body" style="background: linear-gradient(to top, #ada996, #f2f2f2, #dbdbdb, #eaeaea);">
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>

</html>
